<div id="<%= dom_id translation %>">
  <p>
    <strong>Language:</strong>
    <%= translation.language %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= translation.content %>
  </p>

  <p>
    <strong>Health record:</strong>
    <%= translation.health_record_id %>
  </p>

</div>
