<div id="<%= dom_id health_record %>">
  <p>
    <strong>Record type:</strong>
    <%= health_record.record_type %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= health_record.language %>
  </p>

  <p>
    <strong>User:</strong>
    <%= health_record.user_id %>
  </p>

</div>
