<div class="text-center my-5">
  <h1 class="fw-bold display-5 mb-2">Edit Health Record</h1>
  <p class="text-muted fs-5">Update your medical document details below</p>
</div>

<%= render "form", health_record: @health_record %>
<br>
<div>
  <%= link_to "Show this health record", @health_record %> |
  <%= link_to "Back to health records", health_records_path %>
</div>
